<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="fname"
      :rules="fnameRules"
      :counter="50"
      label="ชื่อ"
      prepend-icon="book"
      required
    />
    <v-text-field
      v-model="lname"
      :rules="lnameRules"
      :counter="50"
      label="นามสกุล"
      prepend-icon="book"
      required
    />
    <v-text-field
      v-model="phone"
      type="number"
      :rules="phoneRules"
      :counter="10"
      label="เบอร์โทรศัพท์มือถือ"
      prepend-icon="phone"
      required
    />
    <v-text-field
      v-model="email"
      type="email"
      placeholder="test@test.com"
      prepend-icon="email"
      :rules="emailRules"
      :counter="255"
      label="อีเมล"
    />
    <p>คุณเป็นเจ้าของรถอีซูซุหรือไม่</p>
    <v-radio-group
      v-model="isuzu"
      row
      mandatory="">
      <v-radio
        label="ใช่"
        value="radio-1"/>
      <v-radio
        label="ไม่ใช่"
        value="radio-2"/>
    </v-radio-group>

    <p>ประเภทรถที่สนใจมากที่สุด</p>
    <v-radio-group
      v-model="kind"
      row>
      <v-radio
        label="รถปิกอัพ"
        value="radio-1"/>
      <v-radio
        label="รถอเนกประสงค์"
        value="radio-2"/>
      <v-radio
        label="รถยนต์ส่วนบุคคล"
        value="radio-3"/>
      <v-radio
        label="รถบรรทุก"
        value="radio-4"/>
    </v-radio-group>

    <p>ท่านมีแผนที่จะซื้อรถหรือไม่</p>
    <v-radio-group
      v-model="plan"
      row>
      <v-radio
        label="ภายใน 1-6 เดือน"
        value="radio-1"/>
      <v-radio
        label="ภายใน 7-12 เดือน"
        value="radio-2"/>
      <v-radio
        label="มากกว่า 1 ปี"
        value="radio-3"/>
      <v-radio
        label="ยังไม่มีแผนซื้อรถ"
        value="radio-4"/>
    </v-radio-group>
    <v-btn
      :disabled="!valid"
      @click="submit"
    >
      submit
    </v-btn>
  </v-form>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    valid: true,
    fname: '',
    fnameRules: [
      v => !!v || 'กรุณากรอกชื่อ',
      v => (v && v.length <= 50) || 'Firstname must be less than 50 characters'
    ],
    lname: '',
    lnameRules: [
      v => !!v || 'กรุณากรอกนามสกุล',
      v => (v && v.length <= 50) || 'Lastname must be less than 50 characters'
    ],
    phone: '',
    phoneRules: [
      v => !!v || 'กรุณากรอกเบอร์มือถือ',
      v =>
        (v && v.length == 10) ||
        'Mobile must be eqaul to 10 characters 08179812XX'
    ],
    email: '',
    emailRules: [
      v => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(v) || 'Invalid e-mail.'
      }
    ],
    isuzu: 'radio-2',
    isuzuRules: [v => !!v || 'Has Isuzu is required'],
    kind: 'radio-1',
    kindRules: [v => !!v || 'Kind of car is required'],
    plan: 'radio-4',
    planRules: [v => !!v || 'Plan is required']
  }),

  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        var tt =
          'Hello ' + this.fname + ' ' + this.lname + ' (' + this.phone + ')'
        alert(tt)
        // Native form submission is not yet supported
        /*axios.post('/api/submit', {
          fname: this.fname,
          lname: this.lname,
          phone: this.phone,
          email: this.email,
          isuzu: this.isuzu,
          kind: this.kind,
          plan: this.plan
        })*/
      }
    }
  }
}
</script>
